@import "../../../config/style.config.scss";



.votes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.votesSubcontainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.counter{
    font-size: 14px;
    font-family: $font-poppins-light;
}
.arrow {
    width: 20px;

    &:hover > *{
        filter: brightness(0.8);
    }

    &[data-active=true] > *{
        fill: $color-secondary;
        width: 100px;
    }
}

