@import "../../../config/style.config.scss";



.votes{
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    gap: 10px;
    user-select: none;
}
.votesSubcontainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.counter{
    font-size: 14px;
    font-family: $font-poppins-light;
    color: $color-white;
}
.arrow {
    width: 20px;
    cursor: pointer;

    &:hover > *{
        filter: brightness(0.8);
    }

    &[data-active=true] > *{
        fill: $color-secondary;
        width: 100px;
    }
}



@media all and (min-width: $breakpoint-phone){

}

@media all and (min-width: $breakpoint-tablet){
    .votes{
        min-width: 120px;
    }
}

@media all and (min-width: $breakpoint-laptop){
    .votes{
        min-width: 170px;
    }
}

@media all and (min-width: $breakpoint-desktop){
  
}

