@import "../../../config/style.config.scss";


.streamerBadge{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0.3em;
    border: 2px solid $color-primary;
    border-radius: 5px;

    transition-duration: 200ms;

    cursor: pointer;

    &:active{
        background-color: $color-primary;
    }
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.profilePicture{
    width: 64px;
    height: 64px;
    border-radius: 5px;
}
.nickname{
    width: 100%;
    font-size: 14px;
    text-align: left;
    font-family: $font-poppins-medium;
    
}
.votesContainer{
    display: flex;
}
.votesSubContainer{
    display: flex;
    column-gap: 5px;
}


.streamerBadge[data-type="list"]{
    flex-direction: row;
    align-items: last baseline;
    justify-content: flex-start;
    border: none;
    padding: 5px;
}



@media all and (min-width: $breakpoint-phone){

}

@media all and (min-width: $breakpoint-tablet){
    
}

@media all and (min-width: $breakpoint-laptop){
   .streamerBadge{
        &:hover{
            background-color: $color-primary;
        }
   } 
}

@media all and (min-width: $breakpoint-desktop){
   
}