@import "../../config/style.config.scss";


.streamerSearch{
    @include full-viewport;
}
.container{
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
}
.header{
    font-size: 24px;
    text-align: center;
    font-family: $font-poppins-medium;
    margin-bottom: 10px;
    color: $color-white;
}

.wrapper{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

.recentlyAddedContainer{
   display: flex;
   flex-direction: column;
   gap: 10px;
}


@media all and (min-width: $breakpoint-phone){

}

@media all and (min-width: $breakpoint-tablet){
   
}

@media all and (min-width: $breakpoint-laptop){
    .streamerSearch{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 80%;
    }
    .recentlyAddedContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media all and (min-width: $breakpoint-desktop){
    .container{
        width: 40%;
    }
}